@import "bulma/bulma.sass";
@import "themes/darkly_variables";

/* stylelint-disable no-descending-specificity */

#skip-to-content-link a
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip-to-content-link a:focus,
#skip-to-content-link a:active
{
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: auto;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}


body.font-family-inter {
  font-family: Inter, sans-serif;
}

body.font-family-open-sans {
  font-family: 'Open Sans', sans-serif;
}

body.font-family-andika {
  font-family: Andika, sans-serif;
}

body.font-family-tiresias {
  font-family: Tiresias, sans-serif;
}

body.font-family-opendyslexic {
  font-family: OpenDyslexic, sans-serif;
}

#a11y-settings-close svg {
  height: 70%;
  vertical-align: baseline;
}

body a:focus,
 body input[type=text]:focus,
 body input[type=submit]:focus,
 body textarea:focus,
 body *:focus {
  outline: 2px dotted $red;
  outline-offset: 0
}

.open-a11y button .a11y-focus {
  font-weight: 400;
  padding: 5px
}

.open-a11y button .a11y-focus:hover {
  text-decoration: underline
}

#main-content .a11y-settings {
  padding: 0 15px;
  display: block;
  width: 100%
}

#main-content .a11y-settings > li {
  clear: both;
  margin-top: 30px;
  font-weight: 700;
  float: left;
  width: 100%
}


#main-content .a11y-settings ul > li {
  width: 50%;
  float: left
}

#main-content .a11y-settings > li:first-child {
  margin: 0
}

.open-a11y,
 #main-content .a11y-settings li button {
  position: relative;
  background: $white;
  color: $black;
  padding-top: 30px;
  padding-bottom: 30px
}

#main-content .a11y-settings li button {
  display: contents;
  vertical-align: baseline;
  padding: 3px 7px;
  text-decoration: none;
  border: none;
  margin: 0;
  border-radius: 0
}

#main-content .a11y-settings li button:hover,
 #main-content .a11y-settings li button:focus {
  background: $black
}

.a11y-settings-wrapper {
  position: fixed;
  left: -403px;
  top: 17%;
  width: 400px;
  z-index: 70;
  transition: left .4s;
  transition: left .4s;
  transition: left .4s
}

.a11y-settings-wrapper #a11y-settings-close {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: -50px;
  top: 15%;
  background-repeat: no-repeat;
  border-radius: 0 2px 2px 0;
  font-size: 30px;
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  box-shadow: 5px 5px 25px -5px $grey-darker
}

.a11y-settings-wrapper section {
  display: block;
  clear: both;
  padding: 15px 12px 15px 15px;
  height: 199px
}

.opened-settings .a11y-settings-wrapper {
  left: 0
}

body.font-readable button .a11y-focus {
  letter-spacing: 1px
}

body.font-readable {
  letter-spacing: .12em;
  word-spacing: .16em
}

body.font-readable .button,
 body.font-readable button,
 body.font-readable input[type=submit],
 body.font-readable input[type=button],
 body.font-readable input[type=reset],
 body.font-readable .page-header > h1,
 body.font-readable .page-header > h2,
 body.font-readable .page-header > h3,
 body.font-readable .page-header > h4,
 body.font-readable .page-header > h5,
 body.font-readable .page-header > h6,
 body.font-readable .page-header > p {
  letter-spacing: .12em;
  word-spacing: .16em
}

body.link-underline a svg {
  border-bottom: 1px solid $black !important;
  text-decoration: none !important
}

body.link-underline a,
 body.link-underline a * {
  text-decoration: underline !important
}

.fsize70,
 .fsize70 #main-content .a11y-settings,
 .fsize70 .menu ul li a,
 .fsize70 #main-nav .main-content-menu .nav-menu > .menu-item > a,
 .fsize70 select,
 .fsize70 textarea,
 .fsize70 input,
 .fsize70 button,
 .fsize70 .btn,
 .fsize70 .button {
  font-size: 11px
}

.fsize80,
 .fsize80 #main-content .a11y-settings,
 .fsize80 .menu ul li a,
 .fsize80 #main-nav .main-content-menu .nav-menu > .menu-item > a,
 .fsize80 select,
 .fsize80 textarea,
 .fsize80 input,
 .fsize80 button,
 .fsize80 .btn,
 .fsize80 .button {
  font-size: 13px
}

.fsize90,
 .fsize90 #main-content .a11y-settings,
 .fsize90 .menu ul li a,
 .fsize90 #main-nav .main-content-menu .nav-menu > .menu-item > a,
 .fsize90 select,
 .fsize90 textarea,
 .fsize90 input,
 .fsize90 button,
 .fsize90 .btn,
 .fsize90 .button {
  font-size: 15px
}

.fsize110,
 .fsize110 #main-content .a11y-settings,
 .fsize110 .menu ul li a,
 .fsize110 #main-nav .main-content-menu .nav-menu > .menu-item > a,
 .fsize110 select,
 .fsize110 textarea,
 .fsize110 input,
 .fsize110 button,
 .fsize110 .btn,
 .fsize110 .button {
  font-size: 18px
}

.fsize120,
 .fsize120 #main-content .a11y-settings,
 .fsize120 .menu ul li a,
 .fsize120 #main-nav .main-content-menu .nav-menu > .menu-item > a,
 .fsize120 select,
 .fsize120 textarea,
 .fsize120 input,
 .fsize120 button,
 .fsize120 .btn,
 .fsize120 .button {
  font-size: 19px
}

.fsize130,
 .fsize130 #main-content .a11y-settings,
 .fsize130 .menu ul li a,
 .fsize130 #main-nav .main-content-menu .nav-menu > .menu-item > a,
 .fsize130 select,
 .fsize130 textarea,
 .fsize130 input,
 .fsize130 button,
 .fsize130 .btn,
 .fsize130 .button {
  font-size: 21px
}

.skip-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  z-index: 999999
}

.skip-menu ul.menu {
  margin: 0
}

.skip-menu ul.menu > li {
  padding: 0;
  margin: 0
}

.skip-menu ul.menu > li > a::before {
  display: none
}

.skip-menu ul.menu > li > a {
  color: $white;
  background: $black;
  position: absolute;
  top: 0;
  left: -9999px;
  right: auto;
  white-space: nowrap;
  padding: 10px;
  border: none;
  line-height: 1.5
}

.skip-menu ul.menu > li > a:focus {
  left: 0
}

.skip-menu ul.menu > li > a:hover,
 .skip-menu ul.menu > li > a:focus {
  color: $black;
  background: $white
}

@media(max-width: 800px) {
  .open-a11y {
    top: -65px
  }
}

@media reader,
 speech,
 aural {
  *::before,
 *::after {
    display: none !important;
    content: "" !important;
    visibility: hidden
  }
}
/* stylelint-enable no-descending-specificity */
