
#logo {
  font-family: $family-script;
  font-size: 3rem;
}

html, body {
  font-family: $family-sans-serif;
  font-size: 16px;
  height: 100vh;
  margin-top: 45px;
  margin-left: 75px
}

svg {
  height: 20px;
  width: auto;
  vertical-align: middle
}

svg:not(:root) {
  overflow: hidden
}

[role=button] {
  cursor: pointer
}
