<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="logo" class="navbar-item has-text-grey-darker" href="/">
      <%= app_title %>
    </a>

    <!--    <a role="button" class="navbar-burger has-text-grey-darker" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
    <!--      <span aria-hidden="true"></span>-->
    <!--      <span aria-hidden="true"></span>-->
    <!--      <span aria-hidden="true"></span>-->
    <!--    </a>-->
  </div>

  <div id="header_nav" class="navbar-menu has-text-grey-darker">
    <!--    <div class="navbar-start has-text-grey-darker">-->
    <%#= sanitize(render_navigation(renderer: :bulma_main_nav, level: 1..Float::INFINITY, expand_all: true)) %>
    <!--    </div>-->

    <div class="navbar-end">
      <div class="navbar-item has-text-grey-darker">
        Current Time: <%= l(Time.current, format: :long) %>
      </div>
    </div>
  </div>
</nav>
